Informações-cidades-e-estados-IBGE-20230207-22-39-41.xlsx
Informações-cidades-e-estados-IBGE-20230208-23-03-06.xlsx
Informações-cidades-e-estados-IBGE-20230209-21-44-46.xlsx
cod_name_mun.py
estados_teste.txt
municipios_teste.txt
municipios_v3.txt
read_txt.py
